/.GeneratorConnectionDefinition.java._trace
/.GeneratorSVGDefinition.java._trace
/.GeneratorShapeDefinition.java._trace
/.ShapeGenerator.java._trace
/GeneratorConnectionDefinition.java
/GeneratorSVGDefinition.java
/GeneratorShapeDefinition.java
/ShapeGenerator.java
