/Color.java
/ColorConstantRef.java
/ColorConstants.java
/ColorOrGradient.java
/ColorWithTransparency.java
/Gradient.java
/GradientAllignment.java
/GradientColorArea.java
/GradientLayout.java
/GradientRef.java
/HighlightingValues.java
/LineStyle.java
/RGBColor.java
/Style.java
/StyleContainer.java
/StyleContainerElement.java
/StyleLayout.java
/StylesFactory.java
/StylesPackage.java
/Transparent.java
/YesNoBool.java
