/.ConnectionDefinitionGenerator.java._trace
/.ConnectionEnumGenerator.java._trace
/.ConnectionPlacingGenerator.java._trace
/.ConnectionStyleGenerator.java._trace
/ConnectionDefinitionGenerator.java
/ConnectionEnumGenerator.java
/ConnectionPlacingGenerator.java
/ConnectionStyleGenerator.java
