/.ShapeAnchorGenerator.java._trace
/.ShapeDefinitionGenerator.java._trace
/.ShapeEnumGenerator.java._trace
/.ShapeLayoutGenerator.java._trace
/.ShapeTypeGenerator.java._trace
/.ShapeTypeStyleGenerator.java._trace
/ShapeAnchorGenerator.java
/ShapeDefinitionGenerator.java
/ShapeEnumGenerator.java
/ShapeLayoutGenerator.java
/ShapeTypeGenerator.java
/ShapeTypeStyleGenerator.java
