/AliasableElement.java
/Behavior.java
/BehaviorGroup.java
/CompartmentBehavior.java
/ConnectionInSpray.java
/ConnectionReference.java
/CreateBehavior.java
/CustomBehavior.java
/Diagram.java
/Figure.java
/Import.java
/MetaClass.java
/MetaReference.java
/NamedElement.java
/ShapeCompartmentAssignment.java
/ShapeDslKey.java
/ShapeFromDsl.java
/ShapeInSpray.java
/ShapePropertyAssignment.java
/ShapeReference.java
/SprayElement.java
/SprayFactory.java
/SprayPackage.java
/SprayStyleRef.java
