/Anchor.java
/AnchorFixPointPosition.java
/AnchorManual.java
/AnchorPosition.java
/AnchorPositionPos.java
/AnchorPredefinied.java
/AnchorPredefiniedEnum.java
/AnchorRelativePosition.java
/AnchorType.java
/CDEllipse.java
/CDLine.java
/CDPolygon.java
/CDPolyline.java
/CDRectangle.java
/CDRoundedRectangle.java
/CDText.java
/CommonLayout.java
/Compartment.java
/CompartmentEllipse.java
/CompartmentInfo.java
/CompartmentLayout.java
/CompartmentPolygon.java
/CompartmentRectangle.java
/CompartmentRoundedRectangle.java
/CompartmentShape.java
/ConnectionDefinition.java
/ConnectionStyle.java
/Description.java
/Ellipse.java
/HAlign.java
/Import.java
/Line.java
/LineLayout.java
/PlacingDefinition.java
/Point.java
/PolyLineLayout.java
/Polygon.java
/Polyline.java
/Rectangle.java
/RectangleEllipseLayout.java
/RoundedRectangle.java
/RoundedRectangleLayout.java
/Shape.java
/ShapeConnection.java
/ShapeContainer.java
/ShapeContainerElement.java
/ShapeDefinition.java
/ShapeLayout.java
/ShapeStyleRef.java
/ShapesFactory.java
/ShapesPackage.java
/ShapestyleLayout.java
/Text.java
/TextBody.java
/TextLayout.java
/TextType.java
/VAlign.java
