/.BpmnSVGGeneratorTest.java._trace
/.BusmodSVGGeneratorTest.java._trace
/.CustomAssert.java._trace
/.Lwc2012SVGGeneratorTest.java._trace
/.PetrinetSVGGeneratorTest.java._trace
/BpmnSVGGeneratorTest.java
/BusmodSVGGeneratorTest.java
/CustomAssert.java
/Lwc2012SVGGeneratorTest.java
/PetrinetSVGGeneratorTest.java
